{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}



	{% block body %}

		<div class="container-fluid mt-3">



			<div class="jumbotron">
				<h1 class="display-4">Bienvenue sur le site d'annonces!</h1>
				<p class="lead">Mise en relation voyageurs et propriétaires</p>
				<hr class="my-4">
				<p>Logez-vous lors de vos déplacements</p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</div>



			<div class="row">
				<h2> Nos beaux  et sublimes appartements</h2>
			</div>
			<div class="row mb-3">


				<div class="col">

					<div class="card">
						<h5 class="card-header text-center">2 chambres 50€/nuit<br>Pas encore noté</h5>
						<div class="card-body">
							<img src="https://via.placeholder.com/350"  style="height: 200px;width:100%;display:block">
							<h5 class="card-title">Bel Appartement</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card">
							<h5 class="card-header text-center">2 chambres 50€/nuit<br>Pas encore noté</h5>
							<div class="card-body">
								<img src="https://via.placeholder.com/350"  style="height: 200px;width:100%;display:block">
								<h5 class="card-title">Bel Appartement</h5>
								<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
									consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
									cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
									proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									<a href="#" class="btn btn-primary">Go somewhere</a>
								</div>
							</div>
						</div>

						<div class="col">
							<div class="card">
								<h5 class="card-header text-center">2 chambres 50€/nuit<br>Pas encore noté</h5>
								<div class="card-body">
									<img src="https://via.placeholder.com/350"  style="height: 200px;width:100%;display:block">
									<h5 class="card-title">Bel Appartement</h5>
									<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
										cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
										proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<a href="#" class="btn btn-primary">Go somewhere</a>
									</div>
								</div>
							</div>


						</div>

						<h5>Nos propriétaires stars</h5>
						<div class="row mt-3">
							
							<div class="col">
								<div class="card">
									<div class="card-body">
										<img src="https://via.placeholder.com/64"  class="float-left mr-3">

										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. .</p>

											<div class="text-right">
												<a href="#" class="btn btn-primary">Go somewhere</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col">
									<div class="card">
										<div class="card-body">
											<img src="https://via.placeholder.com/64"  class="float-left mr-3">
											
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna aliqua. .</p>
												
												<div class="text-right">
													<a href="#" class="btn btn-primary">Go somewhere</a>
												</div>
											</div>
										</div>
									</div>

								</div>




							</div>



						</div>

					{% endblock %}

